body {
    background: aliceblue;
}
#main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*
--------------------KUVASCROLL OMINAISUUDET--------------------------
*/
#kuvascroll {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}
#kuvascroll .slide {
    display: inline-block;
}
.container {
    position: relative;
}
image.fadekuva {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: gray;
}
.container:hover .overlay {
    opacity: 1;
}
.teksti {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/*
-------------------------KUVAGALLERIA----------------------------
*/
figure.galleria {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
figure.galleria:hover {
    border:1px solid #777;
}
figure.galleria img {
    width: 100%;
    height: auto;
}
figcaption.kuvaus {
    padding: 15px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    #main-menu li.right,
    #main-menu li {float: none;}
}