/*--------------MENU-------------*/

#main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    overflow: hidden;
    background-color: #333;
    font-family: 'Lato', sans-serif;
    border-left-style: solid;

}
li {
    float: left;

}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #FFFBFF;

}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: darkolivegreen;
}

#mapid {
    width: 600px;
    height: 400px;
}

/*---------------BODY----------------*/

body {
    font-family: 'Lato', sans-serif;
    background: aliceblue;
    padding-top: 0px;
    padding-bottom: 30px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}
#sivun-sisälto {
    padding: 25px 50px 30px;
}
header {
    overflow: auto;
}
header img {
    float: left;
    height: 75px;
}
header h1 {
    float: left;
}

/*
--------------------KUVASCROLL OMINAISUUDET--------------------------
*/
#kuvascroll {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}
#kuvascroll .slide {
    display: inline-block;
}
.container {
    position: relative;
}
image.fadekuva {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: darkolivegreen;
}
.container:hover .overlay {
    opacity: 1;
}
.teksti {
    color: #FFFBFF;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/*
-------------------------KUVAGALLERIA----------------------------
*/
figure.galleria {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: auto;
}
figure.galleria:hover {
    border:1px solid #777;
}
figure.galleria img {
    width: auto;
    height: 300px;
}
figcaption.kuvaus {
    padding: 15px;
    text-align: center;
    font-size: medium;
}
/*
---------------------Reittikartta-asiat--------------------------
*/
#kartta {
    width: 75%;
    height: 650px;
}
#reitit {
    padding: 4px 8px;
    font-size: 16px;
    margin: 5px;
}
.reittinappi {
    font-size: 16px;
    background-color: #9bb189;
}
/*
-------------- Tekijöiden kuvat -------------
*/
figure.tekijät {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: auto;
}
figure.tekijät img {
    width: auto;
    height: 300px;
}
/*
--------------- Responsiivisuus ----------------
*/
@media only screen and (max-width: 600px) {
    #main-menu li.right,
    #main-menu li {float: none;}
    #main-menu {padding-left: 0px;}
    #sivun-sisälto {padding: 25px 5% 30px;}
    #kartta {width: 100%;}
    #mapid {width: 100%;}
    figure.galleria {
        width: 100%;
        margin-left: 0px;}
    figure.galleria img {width: 100%;}
}